<%- include('includes/header', {title: 'Cadastro de Produtos'}) %>
  <main class="container mt-3">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cadastro de Produtos</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-4">
        <label for="nome" class="form-label">Nome do Produto:</label>
        <input class="form-control" placeholder="Nome do produto" type="text" id="nome">
      </div>
      <div class="mb-3 col-4">
        <label for="preco" class="form-label">Preço do Produto:</label>
        <input class="form-control" placeholder="Preço do Produto" type="text" id="preco">
      </div>
      <div class="mb-3 col-4">
        <label for="tipo" class="form-label">Tipo do Produto:</label>
        <input class="form-control" placeholder="Tipo do Produto" type="text" id="tipo">
      </div>
      <div class="mb-3 col-12">
        <label for="descricao" class="form-label">Descrição do Produto:</label>
        <textarea class="form-control" placeholder="Descrição do Produto" name="descricao" id="descricao"></textarea>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" onclick="cadastrar()">Cadastrar</button>
      </div>
    </div>
    <div id="alert">

    </div>
    
  </main>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    function cadastrar() {
      axios.post('/cadastrar-produto', {
        nome: document.getElementById('nome').value,
        preco: document.getElementById('preco').value,
        tipo: document.getElementById('tipo').value,
        descricao: document.getElementById('descricao').value
      })
      .then(function (response) {
        // handle success
        console.log(response);
        document.getElementById('alert').innerHTML = '<div id="success" class="alert alert-success alert-dismissible fade show mt-3" role="alert"><strong>Sucesso!</strong> O produto ' + response.data.nome + ' foi cadastrado.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      })
    }
  </script>
<%- include('includes/footer') %>