<%- include('includes/header', {title: 'Home'}) %>
<main class="container mt-3">
  <h1>EletroRank</h1>
  <p>Sua avaliação de produtos em dia.</p>
  <ul>
    <li><a href="/product-form">Cadastro de Produtos</a></li>
    <li><a href="/product-list">Lista de Produtos</a></li>
  </ul>
</main>
<%- include('includes/footer') %>