<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produtos</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
  <main>
    <a href="/">Voltar</a>
    <h1>Produtos cadastrados:</h1>
    <ul>
      <% for(let item of products) { %>
        <li>Nome: <%= item.nome %> | Preço: <%= item.preco %></li>
      <% } %>
    </ul>
  </main>
</body>
</html>